@import '../../../style/mixin';
@import '../../../style/variable';

.bk-home-menu {
  .bk-menu-btn {
    button {
      padding: 6px 12px;
      font-size: 22px;
      transition: all .3s ease-in-out;
      outline: none;

      &:hover {
        transform: scale(1.1);
      }

      &.actived {
        color: rgb(250, 82, 56);
        transform: scale(1.1);
      }
    }
  }

  @include arrow($arrow-gray, -2rem);

  .bk-carousel-menu {
    width: 80%;
    margin-right: auto;
    margin-left: auto;

    .bk-item {
      position: relative;
      width: 95%;
      margin: auto;

      .film-img {
        border-radius: 4px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 350px;

        .bk-overload,
        .trailer {
          background: linear-gradient(0deg, #000, transparent);
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          opacity: 0;
          transition: all .3s;
        }

        &:hover .bk-overload,
        &:hover .trailer {
          opacity: .3;
        }

        .trailer {
          opacity: 0;
          z-index: 10;
          width: 50px;
          height: 50px;
          top: 50%;
          left: 50%;
          background: none;
          border-radius: 50%;
          transform: translate(-50%, -50%);

          svg {
            width: 3rem;
            height: 3rem;
            background-color: transparent;
            color: white;
          }

          &:hover {
            opacity: 1;
            cursor: pointer;
          }
        }
      }

      .film-img:nth-child(1) {
        margin-bottom: 80px;
      }

      .film-content {

        .film-name,
        .film-button {
          position: absolute;
          top: 102%;
          transition: all .3s;
        }

        .film-name {
          opacity: 1;
          font-weight: 700;
          letter-spacing: 1px;
          line-height: 22px;
        }

        .film-button {
          opacity: 0;
          border-radius: 4px;
          color: white;
          font-size: 20px;
          padding: 10px;
          text-align: center;
          font-weight: 600;
          background: rgb(251, 66, 38);
          width: 100%;
        }
      }

      &:hover .film-content .film-name {
        opacity: 0;
      }

      &:hover .film-content .film-button {
        opacity: 1;
      }
    }

    .slick-list {
      .slick-track {
        .slick-slide>div {
          display: flex;
        }
      }
    }
  }

  // Style for CinemaInfor
  .bk-cinema {
    border: 1px solid #ebebec;
    max-height: $height-cinema;
    border-radius: 4px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;

    .bk-tabParent {
      max-height: 600px;
    }

    .ant-tabs-tab {
      padding-left: 0;
      opacity: 0.5;
      transition: all .5s;

      &:hover {
        opacity: 1;
      }
    }

    .ant-tabs-tab-active {
      opacity: 1;
    }

    .ant-tabs-nav {
      max-height: calc($height-cinema - $height-list-cinema-offset);
    }

    .bk-cinema-item {
      .bk-cinema-infor {
        .bk-cinema-name {
          color: rgb(139, 197, 65);
          font-size: 14px;
          font-weight: 500;
        }

        .bk-cinema-address {
          color: #949494;
          overflow: hidden;
          font-size: 12px;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }
    }
  }

  .bk-tabChild {
    .ant-tabs-content-holder {
      max-height: calc($height-cinema - $height-list-cinema-offset - 25px);
      overflow: hidden auto;
    }
  }
}

// Media screen
@media screen and (max-width: 1200px) {}

@media screen and (max-width: 992px) {
  .bk-home-menu {

    // CarouselFilms
    .bk-carousel-menu {
      width: 85% !important;

      .bk-item {
        .film-img {
          height: 260px;
        }
      }

      .slick-slider {
        .slick-arrow {
          width: 25px;
          height: 25px;
        }
      }
    }

    // CinemaInfor
    .bk-cinema {
      width: 85% !important;

      .bk-tabChild {
        .ant-tabs-nav {
          width: 50% !important;

          .bk-cinema-item {
            .bk-cinema-logo {
              min-width: 2rem;
            }

            .bk-cinema-infor {
              max-width: 80%;

              p {
                white-space: pre-wrap;
              }
            }
          }
        }

      }
    }
  }
}

@media screen and (max-width: 768px) {
  .bk-home-menu {

    // CarouselFilms
    .bk-carousel-menu {
      .slick-slider {
        .slick-arrow {
          display: none !important;
        }
      }
    }

    // CinemaInfor
    .bk-cinema {
      padding: 0 !important;
      width: 80%;

      .bk-tabParent {
        max-height: 800px !important;
        &>.ant-tabs-nav {
          &>div {
            justify-content: center;

            .ant-tabs-nav-list {
              div:not(:last-child) {
                padding: 0.5rem 0;
              }

              div:not(:first-child) {
                margin: 0 0 0 1.5rem;
              }

              div:last-child {
                margin: 0;
              }
            }
          }
        }
      }

      .bk-tabChild {
        flex-direction: column;

        .ant-tabs-nav {
          width: 100% !important;

          .ant-tabs-nav-list {
            padding: .5rem;

            div:not(:last-child) {
              padding: 0;
              margin: .5rem 0 0 0;
            }
          }

          .bk-cinema-item {
            .bk-cinema-logo {
              min-width: 2rem;
            }

            .bk-cinema-infor {
              max-width: 100%;

              p {
                white-space: pre-wrap;
              }
            }
          }
        }

        .ant-tabs-content-holder {
          padding: 1rem;
          margin: 1rem 0;
          max-height: 500px;

          .ant-tabs-content {
            .ant-tabs-tabpane {
              padding: 0;
            }
          }
        }

      }
    }
  }
}

@media screen and (max-width: 576px) {

}